/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1b1b2f;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e94560;
}

.logo {
    font-size: 1.5em;
    color: white;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: white;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    margin: 15px 0;
}

.hero p {
    font-size: 1.2em;
}

.logo-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
/* About Section */
.about {
    padding: 60px 20px;
    background-color: #1f1f2f;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.about-content h3 {
    font-size: 2em;
    color: #e94560;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 20px;
}

.info p {
    margin: 10px 0;
}

.btn-download {
    background-color: #f05454;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* Materi Section */
.materi {
    padding: 60px 20px;
    background-color: #1f1f2f;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.materi-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.materi-content h3 {
    font-size: 2em;
    color: #e94560;
    margin-bottom: 20px;
}

.materi-content p {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 20px;
}

.materi-content .btn-learn-more {
    background-color: #f05454;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
    text-align: center;
}

.hero-content {
    color: white;
}

.hero h2 {
    font-size: 3em;
    margin: 15px 0;
}

.hero p {
    font-size: 1.2em;
}

.contact {
    padding: 20px;
    margin: auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:  #1f1f2f;;
}

.contact h3 {
    margin-bottom: 15px;
}

.contact p {
    margin: 10px 0;
}

.contact a {
    color: #007BFF;
    text-decoration: none;
    margin-left: 5px;
}

.contact a:hover {
    text-decoration: underline;
}

.contact i {
    margin-right: 5px;
    color: #dee4ea; 
}
